<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#FCF9F2" />
    <meta name="description" content="Recibí orientación personalizada de Instituto Visión en Acción. Descubrí cómo podemos ayudarte a transformar tu mirada con el Método VIA&reg;." />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Orientación | Instituto Visión en Acción</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import '../styles/global.css';
</style>
